@model IEnumerable<FinanceCentral.Models.FinancialAidAmt>

@{
    ViewBag.Title = "financial aid";
}

<h2 class="title"><strong>financial aid.</strong></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h3>valid financial aid types</h3>
<table class="table">

    <tr>
        <td>Grant</td>
    </tr>
    <tr>
        <td>Loan</td>
    </tr>
    <tr>
        <td>Other</td>
    </tr>
    <tr>
        <td>Scholarship</td>
    </tr>

</table>

<h3>list of financial aid received</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.finAidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.finAidType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.finAidAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.finAidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finAidType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finAidAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.finAidName }) |
            @Html.ActionLink("Details", "Details", new { id = item.finAidName }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.finAidName })
        </td>
    </tr>
}

</table>
