<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Finance Central</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="~/Home/Index">Home</a></li>
            <li><a href="~/Income/Index">Income</a></li>
            <li><a href="~/Expenses/Index">Expenses</a></li>
            <li><a href="~/FinancialAid/Index">Financial Aid</a></li>
            <li><a href="~/Goals/Index">Goals</a></li>
            <li><a href="~/ExpensesVisualization/Index">Expenses Visualization</a></li>
        </ul>    
    </nav>
        
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Michelle Amos</p>
        </footer>
    </div>

        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
