@model IEnumerable<FinanceCentral.Models.Income>

@{
    ViewBag.Title = "income";
}

<h2 class="title"><strong>income</strong></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h3>list of income sources</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.incomeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.incomeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hourlyWage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avgWeeklyHours)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.incomeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.incomeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hourlyWage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avgWeeklyHours)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.incomeID }) |
            @Html.ActionLink("Details", "Details", new { id = item.incomeID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.incomeID })
        </td>
    </tr>
}

</table>
