@model IEnumerable<FinanceCentral.Models.Goals>

@{
    ViewBag.Title = "goals";
}

<h2 class="title"><strong>goals.</strong></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h3>list of financial goals</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.goalDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.goalTarget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.goalCurrent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.incomeID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.goalDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.goalTarget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.goalCurrent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.incomeID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.goalID }) |
            @Html.ActionLink("Details", "Details", new { id = item.goalID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.goalID })
        </td>
    </tr>
}

</table>
